<% include layout %>

<section class="tile transparent">
      <div class="jumbotron bg-transparent-black-3">

        <div class="container text-center">
          <h1>Hello, world!</h1>
          <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <p><a class="btn btn-red btn-large">Learn more</a></p>
        </div>
      </div>
</section>

<% include footer %>